body {
   margin: 0;
   font-family: American Typewriter, serif
}

.small {
   font-size: 0.75rem;
}

.h3 {
   margin-bottom: 10px;

}

footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 2.5rem;
}
